.link {
  color: black;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
}

.appBarContainer {
  width: 640px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 2px 2px 8px #888888;
}
