.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: left;
  justify-content: center;
  padding: 20px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 48px;
  line-height: normal;
  font-weight: 600;
  color: black;
  margin: 0;
}
