.link {
  color: black;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
}

.authNavContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
}
